body {
  font-family: arial, sans-serif;
  font-size: 14px;
}

.navi {
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.link {
  padding: 0.5em;
  color: inherit;
  text-decoration: none;
}

.material-icons {
  padding-top: 3px;
}

.avatar-photo {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-top: 100px;
}
